.container-text{
    color: white;
}

.container{
    padding: 0;
    display: block;
    width: 300px;
    margin:auto;
    background-color:#1A1B21;
    border-radius: 20px;
    height: fit-content;
    overflow: hidden;
}

.headshot{
max-width: 100%;
}